#modal {
    padding: 20px;
    width: 50%;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 20px;
    transition: all 0.5s;
}

#backModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #33333377;
}

.closeButton {
    position: absolute;
    top: 8px;
    right: 14px;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
}

.closeButton:hover {
    transform: scale(1.2);
}

.modalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalForm input {
    display: block;
    height: 30px;
    width: 80%;
    margin: 10px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding-left: 5px;
}

.modalForm select {
    display: block;
    height: 30px;
    width: 80%;
    margin: 10px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding-left: 5px;
}

.modalForm button {
    display: block;
    height: 24px;
    width: 80%;
    background: var(--navback);
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
}

.modalForm button:hover {
    box-shadow: 1px 1px 3px 2px #ffefa3;
}

.modalForm button:active {
    transform: scale(0.97);
}

.checkbox-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
}


.checkbox-container label {
    display: block;
    white-space: nowrap;
    flex: 90%;
}

.checkbox-container input {
    display: block;
    white-space: nowrap;
    width: 20px;
}